/* App.css */
.navBar {
    background-color: #333;
    display: flex;
    justify-content: space-around; 
    align-items: center;
  }
  
  .navBar-title {
    color: #fff;
    font-size: 24px;
  }
  
  .navBar-menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navBar-item {
    color: #fff;
    font-size: 18px;
  }
  